---
layout: blog
title: The Garcia Lab
section_id: Home
header_img: eve_embryo.gif
thumb_img: summary.png
---

  <div>
      <center><h2>Our mission is to understand, predict, and control developmental programs</h2></center>
      <hr/>

      <div class='half' style="margin:auto; width: 50%;">
      {% include bio.md %}
    </div>

  </div>
  <hr/>
<div class='full' style="width: 100%; margin-right: auto;">
  <div class='row'>
    <div class='mod modGallery'>
      <ul class='gallery large-block-grid-4 medium-block-grid-3
      small-block-grid-2'>
        {% for cat in site.data.index %}
          <li style="padding: 25px; padding-bottom: 0px; text-align: center;">
          <h3 class='banner'>{{cat.name}}</h3>
            <a href='{{site.baseurl}}/{{cat.link}}'>
            <img alt="" style='border: 1px solid #000000;' src="{{site.baseurl}}/images/{{cat.image}}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3> {{cat.description}}</h3>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div> 
