---
layout: blog
title: The Garcia Lab
section_id: Home
header_img: eve_embryo.gif
thumb_img: summary.png
---

  <div>
      <center><h2>Our mission is to understand, predict, and control developmental programs</h2></center>
      <hr/>

      <div class='half' style="margin:auto; width: 50%;">
      {% include bio.md %}
    </div>
    {% comment %} <div class='medium-6 columns'> {% endcomment %}
      {% comment %} <img src="{{site.baseurl}}/images/projects/{{page.thumb_img}}" style="display: block; width: 50%; margin-left: auto; margin-right: auto;" > {% endcomment %}
    {% comment %} </div> {% endcomment %}
      <!-- </div> -->

  </div>
  <hr/>
<div class='full' style="width: 100%; margin-right: auto;">
  <div class='row'>
    <div class='mod modGallery'>
      <ul class='gallery large-block-grid-4 medium-block-grid-3
      small-block-grid-2'>
        {% for cat in site.data.index %}
          <li style="padding: 25px; padding-bottom: 0px; text-align: center;">
          <p style="text-transform: lowercase; text-color: black; text-align:
          center; margin-right: auto; background-color: #e3dcd1; padding-bottom:0.25em;"> {{cat.name}} </p>
            <a href='{{site.baseurl}}/{{cat.link}}'>
            <img alt="" style='border: 1px solid #000000;' src="{{site.baseurl}}/images/{{cat.image}}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3> {{cat.description}}</h3>
                 {% comment %} <p><b>{{ cat.desc }}</b></p> {% endcomment %}
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>

{% comment %} {% for post in site.posts %}
<div class="medium-6 columns">
  <div class='medium mod modBlogPost'>
    <!-- <div class='images'> -->
      {% for image in post.images %}
        <div class='image'><img alt="" src="{{site.baseurl}}/{{image}}" style="display: block; margin-left: auto; margin-right: auto; width: 90%"></div>
      {% endfor %}
    <!-- </div> -->
    <div class='content'>
      <h3><a href="{{site.baseurl}}/{{post.url}}">{{post.title}}</a></h3>
      <p>{{post.excerpt}}</p>
      <div class='spacing'></div>
      <center><a class="button small" href="{{site.baseurl}}/{{post.url}}">Read more</a></center>
    </div>
  </div>
  </div><div>
{% endfor %}

 {% endcomment %}
