---
layout: default
title: Current Members 
section_id: People
header_img: people_cropped.png
---


<div class='full parallax' style='background-image: url({{site.baseurl}}/images/headers/{{page.header_img}}); background-position: center; color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Members" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
<center><h2>Current Members</h2></center>

        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          <li>
            <a data-cat='pi' href='#'>PI</a>          
          </li> 
          <li>
            <a data-cat='grad' href='#'>Graduate Students</a>
          </li>
          <li>
            <a data-cat='rotation' href='#'>Rotation Students</a>
          </li>

         <li>
            <a data-cat='postdoc' href='#'>Post-docs</a>
          </li>
          <li>
            <a data-cat='tech' href='#'>Technicians & Admin</a>
          </li>
          <li>
            <a data-cat='undergrad' href='#'>Undergraduates</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>
        {% for member in site.data.members %}
          {% if member.caste == 'postdoc' %}
            {% assign position = "Postdoctoral Scholar" %}
          {% elsif member.caste == 'grad' %}
            {% assign position = "Graduate Student" %}
          {% elsif member.caste == 'undergrad' %}
            {% assign position = "Undergraduate" %}
          {% elsif member.caste == 'pi' %}
            {% assign position = "Principal Investigator" %}
          {% elsif member.caste == 'tech' %}
            {% assign position = "Research Technician" %}
          {% elsif member.caste == 'management' %}
            {% assign position = "Lab Manager" %}
          {% elsif member.caste == 'rotation' %}
            {% assign position = "Rotation Student" %}
          {% else %}
            {% assign position = " " %}
          {% endif %}
          <li class="{{ member.caste }}" style="padding: 5px;">
        <b style="text-transform: uppercase; text-color: black; text-align:
            center;"> {{member.name}}</b>

          {% comment %} <h4 class='subbanner' style="margin-bottom: 5px;"> {{member.name}}</h4> {% endcomment %}
            <!-- <a href='{{ member.link }}'> -->
            <img alt="" style="border: 1px solid #000000;" src="{{site.baseurl}}/images/people/{{ member.avatar }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <!-- <h3> {{member.name }}</h3> -->
                  <center>
                 <p><b>{{ position }}</b><br/>
                  {{ member.background }}
                  </p></center>
                </div>
              </div>
            <!-- </a> -->
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
  <div class='four spacing'></div>
</div>



<div class='full'>
    <div class='row'>
      <div class='mod modGallery'>
        <div class='gallery-nav'>
  <center><h2>Alumni & Friends</h2></center>
  
          <ul>
            <li class='current'>
              <a data-cat='all' href='#'>All</a>
            <li>
              <a data-cat='grad' href='#'>Graduate Students</a>
            </li>
            <li>
              <a data-cat='rotation' href='#'>Rotation Students</a>
            </li>

           <li>
              <a data-cat='postdoc' href='#'>Post-docs</a>
            </li>
            <li>
              <a data-cat='tech' href='#'>Technicians, Interns, & Admin</a>
            </li>
            <li>
              <a data-cat='undergrad' href='#'>Undergraduates</a>
            </li>
            <li>
              <a data-cat='visitor' href='#'>Visitors</a>
            </li>

          </ul>
        </div>
  
        <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>
          {% for member in site.data.former_members %}
            <li class="{{ member.caste }}" style="padding: 5px;">
            <center>
            <b style="text-transform: uppercase; text-color: black; text-align:
            center;"> {{member.name}}</b><br/>
            <p>{{member.position}}
            {% if member.current %}
            <br/><i>Now:<br/> {{member.current}}</i>
            {%endif%}</p>
            </center>
            </li>
          {% endfor %}
        </ul>
  
      </div>
    </div>
    <div class='four spacing'></div>
  </div>