---
layout: default
title: Talks
section_id: Talks
header_img: publications.gif
---

<div class='full parallax' style='background-image: url({{site.baseurl}}/images/headers/{{page.header_img}}); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title='Talks' color='#fff' class='big' %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='row' style="padding: 20px;">
  <h3 class="banner"> Talks </h3>
  {% for year in site.data.talks %}
    <h3>{{ year[0] }}</h3>
    <div class='medium-12 columns'>
      {% for talk in year[1] %}
        <div class='talk-item' style="display: flex; align-items: center; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ccc;">
          <!-- Thumbnail -->
          <div class='talk-thumbnail' style="flex: 0 0 150px; margin-right: 15px;">
            <a href="{{ talk.video_link }}" target="_blank">
              <img src="{{ site.baseurl }}/talks/{{ talk.thumbnail }}" alt="Talk Thumbnail" style="width: 100%; height: auto; border-radius: 5px;">
            </a>
          </div>
          
          <!-- Talk Info -->
          <div class='talk-info' style="flex: 1;">
            <h4 style="margin: 5px 0;">{{ talk.title }}</h4>
            <p style="margin: 2px 0;"><b>Date:</b> {{ talk.date }}</p>
            <p style="margin: 2px 0;"><b>Venue:</b> {{ talk.venue }}</p>
            <p style="margin: 2px 0;"><b>Video:</b> <a href="{{ talk.video_link }}" target="_blank">Watch Here</a></p>
            <p style="margin: 2px 0;"> {{ talk.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
