---
layout: default
title: Teaching
section_id: teaching
header_img: teaching_whiteboardonly.jpg
---

<div class='full parallax' style='background-image: url({{site.baseurl}}/images/headers/{{page.header_img}}); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title='Teaching'  color='#fff' class='big' %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
{% for course in site.data.teaching %}
<div class='row' style="padding: 20px;">
<h2 style="text-align: left; text-transform: none;"> {{ course[0] }} </h2>
<hr/>
{% for class in course[1] %}

<b><i>{{ class[0] }}</i></b> {% for val in class[1] %} {% if val.link contains 'http' %}
<b>|</b> <a href="{{val.link}}">{{val.year}}</a> {% elsif val.link == None %} | 
{{val.year}} {% else %} <b>|</b> <a href="{{site.baseurl}}/courses/{{val.link}}">{{val.year}}</a>{% endif
%}
{% endfor %}
<br/>
<br/>

{% endfor %}
</div>
{% endfor %}
</div>
